{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .company-info {
            position: relative;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
            font-family: Arial, sans-serif;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .company-info:before {
            content: "";
            background-image: url("{{ asset('images/img1.jpg') }}");
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .company-info .content {
            z-index: 1;
        }

        .company-info h1 {
            font-size: 48px;
            margin-bottom: 20px;
        }

        .company-info p {
            font-size: 18px;
            line-height: 1.6;
            max-width: 600px;
            margin: 0 auto;
        }
    </style>
{% endblock %}
{% block body %}
{% include 'nav.html.twig' %}
<div class="company-info">
<div class="container">
    <div class="example-wrapper">
        <h1>Floydzy's Shop</h1>
        <h2>Product's list</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Made_in</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.name }}</td>
                    <td>{{ article.price }}</td>
                    <td>{{ article.madein }}</td>
                    <td><img src="images/{{ article.photo }}" style="width:100px"></td>
                    <td>Quantity: {{ cart[article.id] }}</td>
                    <td><a href="add2/{{article.id}}" class="btn btn-primary">Ajouter au panier</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Total Price: {{ total }} £</h2>
    </div>
    <p><a href="/" class="btn btn-secondary">Home</a></p>
</div>
</div>
</div>
{% endblock %}
